// colors
$color-1: #74617E;
$color-2: #B2A6D1;
$color-3: #989F8A;
$color-4: #f5f5f5;
$color-5: #F9FAF5;

// fonts
$font-1: 'Playfair Display', serif;
$font-2:'Quicksand', sans-serif;

$weight-font-light: 300;
$weight-font-regular: 400;
$weight-font-medium: 500;
$weight-font-bold: 700;
